<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxu.test.repostory.CompanyRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxu.test.entity.Company">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="email" property="email" />
        <result column="pass" property="pass" />
        <result column="phone_area_code" property="phoneAreaCode" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="is_delete" property="isDelete" />
        <result column="is_join" property="isJoin" />
        <result column="remark" property="remark" />
        <result column="reason" property="reason" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, icon, email, pass, phone_area_code, phone, status, is_delete, is_join, remark, reason, create_time, update_time
    </sql>

</mapper>
