<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hifive.player.broadcasts.repostory.WeatherRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hifive.player.broadcasts.entity.Weather">
        <id column="id" property="id" />
        <result column="weather_id" property="weatherId" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="desc" property="desc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, weather_id, name, title, desc
    </sql>

</mapper>
