<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxu.royalty.repostory.WithdrawRoyaltyRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxu.royalty.entity.WithdrawRoyalty">
        <id column="id" property="id" />
        <result column="op_uid" property="opUid" />
        <result column="amount" property="amount" />
        <result column="trade_account" property="tradeAccount" />
        <result column="trade_id" property="tradeId" />
        <result column="transact_id" property="transactId" />
        <result column="batch_id" property="batchId" />
        <result column="remark" property="remark" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, op_uid, amount, trade_account, trade_id, transact_id, batch_id, remark, created_time
    </sql>

</mapper>
