<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxu.user.repostory.AgmRoyaltyRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxu.user.entity.AgmRoyalty">
        <id column="id" property="id" />
        <result column="op_uid" property="opUid" />
        <result column="order_id" property="orderId" />
        <result column="platform" property="platform" />
        <result column="buy_time" property="buyTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="consumer" property="consumer" />
        <result column="phone_number" property="phoneNumber" />
        <result column="postbox" property="postbox" />
        <result column="enterprise" property="enterprise" />
        <result column="company" property="company" />
        <result column="company_type" property="companyType" />
        <result column="song_id" property="songId" />
        <result column="song_name" property="songName" />
        <result column="warehouse" property="warehouse" />
        <result column="manufacturer" property="manufacturer" />
        <result column="brand" property="brand" />
        <result column="composer" property="composer" />
        <result column="author" property="author" />
        <result column="artist" property="artist" />
        <result column="

producer" property="

producer" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="patform_management_cost" property="patformManagementCost" />
        <result column="hifive_income" property="hifiveIncome" />
        <result column="copyright_income" property="copyrightIncome" />
        <result column="up_op" property="upOp" />
        <result column="xiaozhi_operate_rate" property="xiaozhiOperateRate" />
        <result column="xiaozhi_share_rate" property="xiaozhiShareRate" />
        <result column="partner_share_rate" property="partnerShareRate" />
        <result column="xiaozhi_income" property="xiaozhiIncome" />
        <result column="partner_income" property="partnerIncome" />
        <result column="xiaozhi_id" property="xiaozhiId" />
        <result column="pay_mode" property="payMode" />
        <result column="enterprise_pay" property="enterprisePay" />
        <result column="settlement_mode" property="settlementMode" />
        <result column="status" property="status" />
        <result column="authorize_from" property="authorizeFrom" />
        <result column="project_name" property="projectName" />
        <result column="project_brand" property="projectBrand" />
        <result column="project_time" property="projectTime" />
        <result column="song_purpose" property="songPurpose" />
        <result column="authorize_area" property="authorizeArea" />
        <result column="authorize_time" property="authorizeTime" />
        <result column="authorize_media" property="authorizeMedia" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, op_uid, order_id, platform, buy_time, start_time, end_time, consumer, phone_number, postbox, enterprise, company, company_type, song_id, song_name, warehouse, manufacturer, brand, composer, author, artist, 

producer, payment_amount, patform_management_cost, hifive_income, copyright_income, up_op, xiaozhi_operate_rate, xiaozhi_share_rate, partner_share_rate, xiaozhi_income, partner_income, xiaozhi_id, pay_mode, enterprise_pay, settlement_mode, status, authorize_from, project_name, project_brand, project_time, song_purpose, authorize_area, authorize_time, authorize_media, remark, create_time, update_time, deleted_time
    </sql>

</mapper>
