<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxu.user.repostory.HifiveMadeCostRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxu.user.entity.HifiveMadeCost">
        <id column="id" property="id" />
        <result column="artist" property="artist" />
        <result column="album" property="album" />
        <result column="song" property="song" />
        <result column="total_fee" property="totalFee" />
        <result column="left_cost" property="leftCost" />
        <result column="platforms" property="platforms" />
        <result column="royalty_log_id" property="royaltyLogId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, artist, album, song, total_fee, left_cost, platforms, royalty_log_id, created_time, updated_time
    </sql>

</mapper>
