<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxu.user.repostory.PrepaymentSongRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxu.user.entity.PrepaymentSong">
        <id column="id" property="id" />
        <result column="prepayment_uid" property="prepaymentUid" />
        <result column="artist" property="artist" />
        <result column="album" property="album" />
        <result column="song" property="song" />
        <result column="op" property="op" />
        <result column="start_date" property="startDate" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prepayment_uid, artist, album, song, op, start_date, created_time, updated_time
    </sql>

</mapper>
