<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxu.user.repostory.QqRoyaltyRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxu.user.entity.QqRoyalty">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="op_uid" property="opUid" />
        <result column="platform" property="platform" />
        <result column="artist" property="artist" />
        <result column="album" property="album" />
        <result column="song" property="song" />
        <result column="free_used_num" property="freeUsedNum" />
        <result column="pay_based_used_num" property="payBasedUsedNum" />
        <result column="pay_advanced_used_num" property="payAdvancedUsedNum" />
        <result column="single_sold_num" property="singleSoldNum" />
        <result column="free_used_income_hifive_get" property="freeUsedIncomeHifiveGet" />
        <result column="pay_based_used_income_hifive_get" property="payBasedUsedIncomeHifiveGet" />
        <result column="pay_advanced_used_income_hifive_get" property="payAdvancedUsedIncomeHifiveGet" />
        <result column="single_sold_income_hifive_get" property="singleSoldIncomeHifiveGet" />
        <result column="yue_coin_income_hifive_get" property="yueCoinIncomeHifiveGet" />
        <result column="income_hifive_get" property="incomeHifiveGet" />
        <result column="hifive_made_cost" property="hifiveMadeCost" />
        <result column="hifive_made_cost_once" property="hifiveMadeCostOnce" />
        <result column="hifive_made_cost_left" property="hifiveMadeCostLeft" />
        <result column="prepayment_cost_once" property="prepaymentCostOnce" />
        <result column="hifive_cost" property="hifiveCost" />
        <result column="hifive_income" property="hifiveIncome" />
        <result column="artist_income" property="artistIncome" />
        <result column="mastery_ratio" property="masteryRatio" />
        <result column="publishing_ratio" property="publishingRatio" />
        <result column="mastery_income" property="masteryIncome" />
        <result column="publishing_income" property="publishingIncome" />
        <result column="mv_flag" property="mvFlag" />
        <result column="source" property="source" />
        <result column="month" property="month" />
        <result column="royalty_log_id" property="royaltyLogId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, op_uid, platform, artist, album, song, free_used_num, pay_based_used_num, pay_advanced_used_num, single_sold_num, free_used_income_hifive_get, pay_based_used_income_hifive_get, pay_advanced_used_income_hifive_get, single_sold_income_hifive_get, yue_coin_income_hifive_get, income_hifive_get, hifive_made_cost, hifive_made_cost_once, hifive_made_cost_left, prepayment_cost_once, hifive_cost, hifive_income, artist_income, mastery_ratio, publishing_ratio, mastery_income, publishing_income, mv_flag, source, month, royalty_log_id, created_time, updated_time
    </sql>

</mapper>
