<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxu.royaltyV1.repostory.BatchRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxu.royaltyV1.domain.Batch">
        <id column="id" property="id" />
        <result column="note" property="note" />
        <result column="remark" property="remark" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, note, remark, created_time, updated_time
    </sql>

</mapper>
