<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxu.royaltyV1.repostory.ChangeRoyaltyDetailRepostory">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxu.royaltyV1.domain.ChangeRoyaltyDetail">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="op_uid" property="opUid" />
        <result column="artist" property="artist" />
        <result column="album" property="album" />
        <result column="song" property="song" />
        <result column="hfc" property="hfc" />
        <result column="platform" property="platform" />
        <result column="royalty_log_id" property="royaltyLogId" />
        <result column="month" property="month" />
        <result column="hifive_made_cost" property="hifiveMadeCost" />
        <result column="hifive_made_cost_once" property="hifiveMadeCostOnce" />
        <result column="prepayment_cost_once" property="prepaymentCostOnce" />
        <result column="hifive_made_cost_left" property="hifiveMadeCostLeft" />
        <result column="hifive_cost" property="hifiveCost" />
        <result column="hifive_income" property="hifiveIncome" />
        <result column="artist_income" property="artistIncome" />
        <result column="mastery_ratio" property="masteryRatio" />
        <result column="publishing_ratio" property="publishingRatio" />
        <result column="mastery_income" property="masteryIncome" />
        <result column="publishing_income" property="publishingIncome" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, op_uid, artist, album, song, hfc, platform, royalty_log_id, month, hifive_made_cost, hifive_made_cost_once, prepayment_cost_once, hifive_made_cost_left, hifive_cost, hifive_income, artist_income, mastery_ratio, publishing_ratio, mastery_income, publishing_income, created_time, updated_time
    </sql>

</mapper>
